<main class="h-screen w-full flex flex-col justify-center items-center">
  <h1 class="text-9xl font-extrabold text-indigo-500 tracking-widest font-fredoka">404</h1>
  <div class="bg-white text-indigo-500 px-4 py-2 font-fredoka text-sm rounded rotate-12 absolute -mt-10">
    Page introuvable
  </div>
  <button class="mt-5 transition" (click)="back()">
    <a class="relative inline-block duration-300 text-sm font-medium text-indigo-500 group active:text-indigo-500 focus:outline-none focus:ring">
      <span class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-indigo-500 group-hover:translate-y-0 group-hover:translate-x-0"></span>
      <span class="relative block px-8 py-3 bg-white border border-current">
          <label class="cursor-pointer">Retour</label>
      </span>
    </a>
  </button>
</main>
