<div class="h-screen bg-gray-200 grid lg:grid-cols-2 p-5">
  <!-- Left side -->
  <div class="bg-indigo-500 rounded-2xl justify-center items-center shadow-2xl hidden lg:flex">
    <img src="assets/images/weather_icon.png" alt="">
  </div>
  <!-- Left side -->

  <!-- right side -->
  <div class="flex justify-center items-center">
    <div class="grid text-center gap-14 w-5/6 lg:w-2/3">
      <!-- Title -->
      <div class="grid gap-3">
        <label class="font-fredoka text-6xl">Bienvenue</label>
        <label>Veuillez vous connecter avec vos identifiants</label>
      </div>

      <!-- Form -->
      <form class="grid gap-5" #login="ngForm">
        <!-- Email -->
        <input ngModel required class="w-full rounded-xl p-5 hover:ring hover:ring-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 border-0 transition duration-400" type="email" name="email" placeholder="Entrez votre email">
        <!-- Password -->
        <div class="flex relative">
          <input ngModel #password="ngModel" required class="w-full rounded-xl p-5 hover:ring hover:ring-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 border-0 transition duration-400" [type]="show ? 'text' : 'password'" name="password" placeholder="Mot de passe">
          <!-- Show hide password -->
          <button type="button" class="absolute w-fit top-1/3 right-5 hover:text-indigo-500" (click)="show = !show">
            <svg *ngIf="!show" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
            </svg>

            <svg *ngIf="show" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </button>
        </div>

        <!-- Submit -->
        <div class="flex justify-center">
          <button *ngIf="!logged" [disabled]="login.invalid" (click)="submit(login)" type="submit" class="w-full my-8 bg-indigo-500 rounded-xl py-5 text-white hover:bg-indigo-700 transition duration-300 shadow-xl disabled:bg-indigo-400">Se connecter</button>
          <button *ngIf="logged" disabled type="button" class="my-8 w-fit flex gap-3 px-5 bg-indigo-400 rounded-xl py-5 text-white">
            Veuillez patienter
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 animate-spin">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          </button>
        </div>
      </form>

    </div>
  </div>
  <!-- right side -->
</div>
