<div class="px-20 py-10 h-full transition">
  <!-- Add employee button -->
  <button class="px-5 py-4 rounded-xl bg-indigo-500 hover:bg-indigo-700 text-white duration-300" (click)="add = !add">Ajouter Employé</button>

  <!-- Add Employee dialog -->
  <p-dialog [(visible)]="add" [modal]="true" [draggable]="false" [resizable]="false" styleClass="w-3/4" header="Ajout d'un employé">
    <form class="grid gap-5 m-5" #employe="ngForm">
      <input ngModel required class="rounded-xl p-5 hover:ring hover:ring-indigo-500 border-gray-400 focus:outline-none focus:ring focus:ring-indigo-500 duration-300" type="text" name="prenom" placeholder="Entrez votre prénom">
      <input ngModel required class="rounded-xl p-5 hover:ring hover:ring-indigo-500 border-gray-400 focus:outline-none focus:ring focus:ring-indigo-500 duration-300" type="text" name="nom" placeholder="Entrez votre nom">
      <input ngModel required class="rounded-xl p-5 hover:ring hover:ring-indigo-500 border-gray-400 focus:outline-none focus:ring focus:ring-indigo-500 duration-300" type="email" name="email" placeholder="Entrez votre email">
      <input ngModel required class="rounded-xl p-5 hover:ring hover:ring-indigo-500 border-gray-400 focus:outline-none focus:ring focus:ring-indigo-500 duration-300" type="text" name="username" placeholder="Entrez votre pseudo">

      <button *ngIf="!submitted" [disabled]="employe.invalid" (click)="addEmploye(employe.value)" type="submit" class="w-full my-8 bg-indigo-500 rounded-xl py-5 text-white hover:bg-indigo-700 transition duration-300 shadow-xl disabled:bg-indigo-400">Ajouter</button>
      <button *ngIf="submitted" disabled type="button" class="my-8 w-fit flex gap-3 px-5 bg-indigo-400 rounded-xl py-5 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 animate-spin">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
      </button>
    </form>
  </p-dialog>

  <!-- Employee list -->
  <p-table [value]="employes" styleClass="my-10 border rounded-xl p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Username</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.prenom }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>
          <button class="px-3 py-2 bg-indigo-500 text-white rounded hover:bg-indigo-700 duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
            </svg>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
